$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small { // mobile
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl { // desktop
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area-PROJECT-NAME { // add the proper class here

  // type styles

  $font-stack: 'Avenir', 'Avenir Next', 'Arial', sans-serif;

  .chart-subhead {
      fill: $slate-secondary-6;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      max-width: 600px;
  }

  .chart-title, .chart-title-social {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      // bottom margin should be 10px if there is no legend, or if the legend runs into the chart title
      margin-bottom: 10px;
      @include sm-md-xl {
          // set this only if there is a chart title + legend
          margin-bottom: -33px;
      }
  }

  .chart-note {
      fill: $slate-secondary-5;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      width: 80%;
      @include x-small() {
        min-height: 30px;
        width: 70%;
      }
  }

  .chart-source, .chart-credit {
      font-size: 9.5px;
      line-height: 12px;
      text-transform: uppercase;
      color: $slate-secondary-5;
      letter-spacing: 1px;
      width: 65%;
      @include sm-md-xl {
          width: 80%;
          font-size: 10px;
      }
  }

  .chart-credit {
      &:before {
          content: "Graphic: ";
      }
      @include sm-md-xl {
          padding-right: 10px;
      }
  }

  .chart-source {
      &:before {
          content: "Source: ";
      }
      float: left;
      @include sm-md-xl {
          float: none;
          } 
  }

  .strong {
      font-weight: 600;
  }

  .highcharts-annotation-label {
      font-size: 14px;
      line-height: 18px;
      fill: $slate-secondary-5;
      & span {
          background-color: white;
          padding: 0 5px;
          @include x-small {
              background-color: rgba(#fff, .6)
          }
      }
  }

  @import "highcharts";

  // general chart styles

  box-sizing: border-box;

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  .highcharts-yaxis-labels {
    // use this to change the axis label
    & span:first-child {
      // transform: translate(10px,0) !important;
      &:after {
        content: "%";
    }
    }
  }

  //  set this if the x-axis is not 0
  // .highcharts-axis-line {
  //   stroke-width: 0;
  // }

  // if 0 is in the middle of the chart, set its gridline to black
  // the nth-child number represents the grid line to be changed
  // IMPORTANT: if you set this, you MUST set the yAxis min, max and tickAmount in the JS
  // .highcharts-grid-line {
  //   &:nth-child(3) {
  //     stroke: black;
  //   }
  // }

  // add additional styles here

  
  
}

// uncomment this to make a social chart, then add the chart-area class in the social.scss partial
// @import "social";
