$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small { // mobile
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl { // desktop
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area-millennial-housing { // add the proper class here

  // type styles

  $font-stack: 'Averta', 'Arial', sans-serif;

  @import "highcharts";

  .chart-subhead {
      fill: $slate-secondary-6;
      font-size: 54px;
      line-height: 62px;
      font-weight: 600;
      margin-bottom: 50px;
      width: 80%;
  }

  // .chart-title, .chart-title-social {
  //     font-weight: 600;
  //     text-transform: uppercase;
  //     font-size: 14px;
  //     // bottom margin should be 10px if there is no legend, or if the legend runs into the chart title
  //     margin-bottom: 10px;
  //     @include sm-md-xl {
  //         // set this only if there is a chart title + legend
  //         margin-bottom: -33px;
  //     }
  // }

  .chart-note, .chart-source {
      fill: $slate-secondary-5;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 20px;
  }


  .chart-credit {
      &:before {
          content: "Graphic: ";
      }
      @include sm-md-xl {
          padding-right: 20px;
      }
  }

  .chart-source {
    margin-bottom: 40px;
      &:before {
          content: "Source: ";
      }
      @include sm-md-xl {
          // float: none;
          } 
  }

  .highcharts-axis-labels {
    font-size: 46px;
  }

  .highcharts-legend-item > text {
    font-size: 42px;
  }

  .strong {
      font-weight: 600;
  }

  .highcharts-annotation-label {
      font-size: 28px;
      line-height: 36px;
      fill: $slate-secondary-5;
      & span {
          background-color: white;
          padding: 0 5px;
          @include x-small {
              background-color: rgba(#fff, .6)
          }
      }
  }

  // general chart styles

  box-sizing: border-box;

  
  max-width: 1320px;
  margin-bottom: 50px;
  font-family: $font-stack;
  margin-left: 50px;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 600px;
    margin-top: -20px;
    margin-bottom: 70px;
    & .highcharts-container {
      margin-bottom: 25px;
    }
    &:after {
      content: "";
      width:90%;
      height: 8px;
      background-repeat: repeat;
      top: 300;
      left: 50;
      position: absolute;
      background-size: 3%;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='4'%3E%3Cpath d='M10 2c3.333 2 6.667 2 10 0M0 2c3.333-2 6.667-2 10 0' stroke='%2368ebca' fill='transparent'/%3E%3C/svg%3E");
    }
  }

  & .makeit-logo {
    width: 250px;
  }

  .highcharts-yaxis-labels {
    // use this to change the axis label
    & span:first-child {
      // transform: translate(10px,0) !important;
      &:after {
        content: "%";
    }
    }
  }

  & #chart-container-millennial-housing-1, #chart-container-millennial-housing-8 {
    height: 500px;
  }

  & #chart-container-millennial-housing-6 {
    height: 700px;
  }

  & #chart-container-millennial-housing-8 {
    .highcharts-color-0 {
      fill: $gray;
      stroke: $gray;
    }
    .highcharts-series rect {
      &:last-child {
        fill: $teal;
        stroke: $teal;
      }
    }
  }


  //  set this if the x-axis is not 0
  // .highcharts-axis-line {
  //   stroke-width: 0;
  // }

  // if 0 is in the middle of the chart, set its gridline to black
  // the nth-child number represents the grid line to be changed
  // IMPORTANT: if you set this, you MUST set the yAxis min, max and tickAmount in the JS
  // .highcharts-grid-line {
  //   &:nth-child(3) {
  //     stroke: black;
  //   }
  // }

  // add additional styles here

  
  
}

// uncomment this to make a social chart, then add the chart-area class in the social.scss partial
// @import "social";
